<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery %>
</p>

<p>
  <b>User:</b>
  <%= @beer.user_id %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
